@charset "UTF-8";
$themeColor: #1890FF;
$hoveColor: #45a6ff;
$transition: all 0.5s;
$colorHeading: #303133;
$colorNormal: #606266;
$colorSecondary: #909399;
$colorPlaceholder: #C0C4CC;
$borderColor: #e9ecef;
$text-size-small: 12px;
$transition: all 0.3s;
$colorPrimary: #1890ff;
$colorSuccess: #67C23A;
$colorWarning: #E6A23C;
$colorDanger: #F56C6C;
$colorInfo: #909399;
$colorBlue: #1a0dab;
$fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
html,body {
  font-family: $fontFamily;
  //font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #606266;
  background-color: #f0f2f5;
}
a {
  text-decoration: none
}
/**
项目加载动
 */
.app-loading {
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 999999;
  display: flex;
  align-items: center;

  .app-loading-ball {
    margin: auto;

    label {
      background-color: $themeColor;
      width: 15px;
      height: 15px;
      border-radius: 100% !important;
      margin: 2px;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      display: inline-block;
      -webkit-animation: ballAnimation 0.7s 0s infinite linear;
      animation: ballAnimation 0.7s 0s infinite linear;

      &:nth-child(2n-1) {
        -webkit-animation-delay: 0.35s !important;
        animation-delay: 0.35s !important;
      }
    }
  }
}
@-webkit-keyframes ballAnimation {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ballAnimation {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/**
浏览器更新
 */
.update-browser {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: $themeColor;
  color: #fff;

  .container {
    margin-top: 100px;

    h3 {
      font-size: 30px;
      font-weight: bold;
    }

    h5,
    a {
      font-size: 20px;
      font-weight: normal;
      line-height: 1.5;
      color: #fff;
      text-decoration: none;
    }

    a {
      display: inline-block;
      text-align: center;
      transition: all 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
    .el-icon-arrow-right {
      overflow: hidden;

      &:before {
        float: right;
      }
    }

    .el-row {
      display: flex;
      align-items: center;
    }

    img {
      width: 80px;
      vertical-align: middle;
    }
  }
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.layout-container {
  padding-top: 60px;
  padding-left: 240px;
}
.layout-main {
  padding: 24px 120px;
}


/**
页面加载
 */
.page-loading {
  //position: fixed!important;
  //background-color: rgba(0, 0, 0, 0.8)!important;
  z-index: 300;
}

.page-is-valid {
  margin-top: 30px;

  dt {
    margin-bottom: 10px;
  }

  dd {
    margin: 0 0 6px 20px;

    &:before {
      content: '●';
    }
  }
}

.bulk-actions {
  position: fixed;
  background: #fff;
  display: flex;
  padding-left: 10px;
  align-items: center;
}
.el-table__body-wrapper {
  .el-table-column--selection {
    position: relative;

    .cell {
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      position: absolute;
      padding: 0 !important;

      .el-checkbox {
        width: 100%;
        height: 100%;
        display: flex;
        cursor: pointer;
        align-items: center;

        .el-checkbox__input {
          margin-left: 10px;
        }
      }
    }
  }
}

.fixed-action {
  position: fixed;
  height: 60px;
  width: calc(100% - 270px);
  right: 0;
  top: 0;
  background-color: #24292e;
  z-index: 1100;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;

  .el-button {
    background: none;
    &.el-button--default {
      color: #DCDFE6;
    }
    &.el-button--primary {
      color: $themeColor;
    }
    &:hover {
      color: $hoveColor;
      border-color: $hoveColor;
      background: none;
    }
  }
  .fixed-action-label {
    flex: 1;
    color: #DCDFE6;
    line-height: 60px;
  }

  .fixed-action-button {
    text-align: right;
    flex: 1;

    button {
      margin-top: 14px;
    }
  }
}
.page-title {
  margin-top: 0;
}
.go-back {
  margin: 1rem 0 5px 0;
  color: $colorSecondary;
  font-weight: normal;
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  font-family: $fontFamily;
  transition: $transition;

  i {
    position: absolute;
    left: 0;
    top: 2px;
    transition: $transition;
  }

  &:hover {
    color: $themeColor;

    i {
      left: -10px;
    }
  }
}

.page-block {
  margin-top: 2rem;

  .el-card {
    border-radius: 0;
  }
}
.el-form-item {
  &:last-child {
    margin-bottom: 15px;
  }
  &.gap-less {
    margin-bottom: 0;
  }
}
//form {
//  .el-input-number {
//    .el-input__inner {
//      text-align: left;
//    }
//  }
//
//  .el-form-item {
//    &__label {
//      overflow: hidden;
//      text-overflow: ellipsis;
//      white-space: nowrap;
//      line-height: 18px !important;
//      &:before {
//        float: right;
//      }
//    }
//    &__tips {
//      color: $colorInfo;
//      font-size: 14px;
//      margin-bottom: 10px;
//    }
//  }
//
//  .el-form-row {
//    .el-col {
//      margin-bottom: 22px;
//    }
//  }
//
//  .el-form-30 {
//    .el-input {
//      &:not(.el-input-group) {
//        .el-input__inner {
//          width: 30%;
//        }
//      }
//
//      &.el-input-group {
//        width: 30%;
//      }
//    }
//
//    .el-input-number {
//      width: 30% !important;
//
//      .el-input__inner {
//        text-align: left;
//        width: 100% !important;
//      }
//    }
//  }
//
//  .el-form-40 {
//    .el-input {
//      &:not(.el-input-group) {
//        .el-input__inner {
//          width: 40%;
//        }
//      }
//
//      &.el-input-group {
//        width: 40%;
//      }
//    }
//
//    .el-input-number {
//      width: 40% !important;
//
//      .el-input__inner {
//        width: 100% !important;
//      }
//    }
//  }
//
//  .el-form-50 {
//    .el-input {
//      &:not(.el-input-group) {
//        .el-input__inner {
//          width: 50%;
//        }
//      }
//
//      &.el-input-group {
//        width: 50%;
//      }
//    }
//
//    .el-input-number {
//      width: 50% !important;
//
//      .el-input__inner {
//        width: 100% !important;
//      }
//    }
//  }
//
//  .el-form-60 {
//    .el-input {
//      &:not(.el-input-group) {
//        .el-input__inner {
//          width: 60%;
//        }
//      }
//
//      &.el-input-group {
//        width: 60%;
//      }
//    }
//
//    .el-input-number {
//      width: 60% !important;
//
//      .el-input__inner {
//        width: 100% !important;
//      }
//    }
//  }
//
//  .el-form-70 {
//    .el-input {
//      &:not(.el-input-group) {
//        .el-input__inner {
//          width: 70%;
//        }
//      }
//
//      &.el-input-group {
//        width: 70%;
//      }
//    }
//
//    .el-input-number {
//      width: 70% !important;
//
//      .el-input__inner {
//        width: 100% !important;
//      }
//    }
//  }
//
//  .el-form-80 {
//    .el-input {
//      &:not(.el-input-group) {
//        .el-input__inner {
//          width: 80%;
//        }
//      }
//
//      &.el-input-group {
//        width: 80%;
//      }
//    }
//
//    .el-input-number {
//      width: 80% !important;
//
//      .el-input__inner {
//        width: 100% !important;
//      }
//    }
//  }
//
//  .el-form-90 {
//    .el-input {
//      &:not(.el-input-group) {
//        .el-input__inner {
//          width: 90%;
//        }
//      }
//
//      &.el-input-group {
//        width: 90%;
//      }
//    }
//
//    .el-input-number {
//      width: 90% !important;
//
//      .el-input__inner {
//        width: 100% !important;
//      }
//    }
//  }
//
//  .el-form-item-block {
//    .el-form-item__label {
//      display: block !important;
//      width: 100%;
//      float: none !important;
//    }
//
//    .el-form-item__content {
//      margin-left: 0 !important;
//    }
//  }
//}
.hand {
  cursor: pointer
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    padding-top: 100%;
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  img {
    object-fit: cover;
    object-position: center;
    transition: all 0.25s;;
  }
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive-9by21::before {
  padding-top: 233.3333333333%; }

.embed-responsive-9by16::before {
  padding-top: 177.7777777778%; }

.embed-responsive-3by4::before {
  padding-top: 133.3333333333%; }

.embed-responsive-5by4::before {
  padding-top: 80%; }

.embed-responsive-4by5::before {
  padding-top: 125%; }
@import "passport";
@import "text";
@import "header";
@import "aside";
@import "theme";
@import "icon";
@import "design";
