@charset "UTF-8";
.bg-success {
  background-color: $colorSuccess !important;
  border-color: $colorSuccess !important;
  color: #fff !important;
}
.bg-warning {
  background-color: $colorWarning !important;
  border-color: $colorWarning !important;
  color: #fff !important;
}
.bg-danger {
  background-color: $colorDanger !important;
  border-color: $colorDanger !important;
  color: #fff !important;
}
.bg-info {
  background-color: $colorInfo !important;
  border-color: $colorInfo !important;
  color: #fff !important;
}
.bg-primary {
  background-color: $colorPrimary !important;
  border-color: $colorPrimary !important;
  color: #fff !important;
}
.text-placeholder {
  color: $colorPlaceholder !important;
}
.text-white {
  color: #fff !important
}

.text-primary {
  color: $colorPrimary !important
}

.text-blue {
  color: $colorBlue !important
}
a.text-primary:focus,a.text-primary:hover {
  color: darken($colorPrimary, 10%) !important
}

.text-secondary {
  color: $colorSecondary !important
}

a.text-secondary:focus,a.text-secondary:hover {
  color: darken($colorSecondary, 10%) !important
}

.text-success {
  color: $colorSuccess !important
}

a.text-success:focus,a.text-success:hover {
  color: darken($colorSuccess, 10%) !important
}

.text-info {
  color: $colorInfo!important
}

a.text-info:focus,a.text-info:hover {
  color: darken($colorInfo, 10%)!important
}

.text-warning {
  color: $colorWarning!important
}

a.text-warning:focus,a.text-warning:hover {
  color: darken($colorWarning, 10%)!important
}

.text-danger {
  color: $colorDanger!important
}

a.text-danger:focus,a.text-danger:hover {
  color: darken($colorDanger, 10%)!important
}

.text-light {
  color: #f8f9fa!important
}

a.text-light:focus,a.text-light:hover {
  color: #dae0e5!important
}

.text-dark {
  color: #343a40!important
}

a.text-dark:focus,a.text-dark:hover {
  color: #1d2124!important
}

.text-body {
  color: $colorNormal!important
}

.text-muted {
  color: #6c757d!important
}

.text-gray {
  color: #ccc!important
}

.text-black-50 {
  color: rgba(0,0,0,.5)!important
}

.text-white-50 {
  color: hsla(0,0%,100%,.5)!important
}

.text-hide {
  border: 0;
  background-color: transparent;
  color: transparent;
  text-shadow: none;
  font: 0/0 a
}

.text-justify{text-align:justify!important}
.text-nowrap{white-space:nowrap!important}
.text-truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.text-left{text-align:left!important}
.text-right{text-align:right!important}
.text-center{text-align:center!important}
.font-italic{font-style:italic!important}
.m-0{margin:0!important}
.mt-0{margin-top:0!important}
.mr-0{margin-right:0!important}
.mb-0{margin-bottom:0!important}
.ml-0{margin-left:0!important}
.m-1{margin:.1830235352rem!important}
.mt-1{margin-top:.1830235352rem!important}
.mr-1{margin-right:.1830235352rem!important}
.mb-1{margin-bottom:.1830235352rem!important}
.ml-1{margin-left:.1830235352rem!important}
.m-2{margin:.3660470703rem!important}
.mt-2{margin-top:.3660470703rem!important}
.mr-2{margin-right:.3660470703rem!important}
.mb-2{margin-bottom:.3660470703rem!important}
.ml-2{margin-left:.3660470703rem!important}
.m-3{margin:.7320941406rem!important}
.mt-3{margin-top:.7320941406rem!important}
.mr-3{margin-right:.7320941406rem!important}
.mb-3{margin-bottom:.7320941406rem!important}
.ml-3{margin-left:.7320941406rem!important}
.m-4{margin:1.0981412109rem!important}
.mt-4{margin-top:1.0981412109rem!important}
.mr-4{margin-right:1.0981412109rem!important}
.mb-4{margin-bottom:1.0981412109rem!important}
.ml-4{margin-left:1.0981412109rem!important}
.m-5{margin:1.4641882813rem!important}
.mt-5{margin-top:1.4641882813rem!important}
.mr-5{margin-right:1.4641882813rem!important}
.mb-5{margin-bottom:1.4641882813rem!important}
.ml-5{margin-left:1.4641882813rem!important}
.m-6{margin:1.8302353516rem!important}
.mt-6{margin-top:1.8302353516rem!important}
.mr-6{margin-right:1.8302353516rem!important}
.mb-6{margin-bottom:1.8302353516rem!important}
.ml-6{margin-left:1.8302353516rem!important}
.m-7{margin:2.1962824219rem!important}
.mt-7{margin-top:2.1962824219rem!important}
.mr-7{margin-right:2.1962824219rem!important}
.mb-7{margin-bottom:2.1962824219rem!important}
.ml-7{margin-left:2.1962824219rem!important}
.p-0{padding:0!important}
.pt-0{padding-top:0!important}
.pr-0{padding-right:0!important}
.pb-0{padding-bottom:0!important}
.pl-0{padding-left:0!important}
.p-1{padding:.1830235352rem!important}
.pt-1{padding-top:.1830235352rem!important}
.pr-1{padding-right:.1830235352rem!important}
.pb-1{padding-bottom:.1830235352rem!important}
.pl-1{padding-left:.1830235352rem!important}
.p-2{padding:.3660470703rem!important}
.pt-2{padding-top:.3660470703rem!important}
.pr-2{padding-right:.3660470703rem!important}
.pb-2{padding-bottom:.3660470703rem!important}
.pl-2{padding-left:.3660470703rem!important}
.p-3{padding:.7320941406rem!important}
.pt-3{padding-top:.7320941406rem!important}
.pr-3{padding-right:.7320941406rem!important}
.pb-3{padding-bottom:.7320941406rem!important}
.pl-3{padding-left:.7320941406rem!important}
.p-4{padding:1.0981412109rem!important}
.pt-4{padding-top:1.0981412109rem!important}
.pr-4{padding-right:1.0981412109rem!important}
.pb-4{padding-bottom:1.0981412109rem!important}
.pl-4{padding-left:1.0981412109rem!important}
.p-5{padding:1.4641882813rem!important}
.pt-5{padding-top:1.4641882813rem!important}
.pr-5{padding-right:1.4641882813rem!important}
.pb-5{padding-bottom:1.4641882813rem!important}
.pl-5{padding-left:1.4641882813rem!important}
.p-6{padding:1.8302353516rem!important}
.pt-6{padding-top:1.8302353516rem!important}
.pr-6{padding-right:1.8302353516rem!important}
.pb-6{padding-bottom:1.8302353516rem!important}
.pl-6{padding-left:1.8302353516rem!important}
.p-7{padding:2.1962824219rem!important}
.pt-7{padding-top:2.1962824219rem!important}
.pr-7{padding-right:2.1962824219rem!important}
.pb-7{padding-bottom:2.1962824219rem!important}
.pl-7{padding-left:2.1962824219rem!important}
.m-center{margin-left: auto;margin-right: auto}
.float-left{float:left!important}
.float-right{float:right!important}
.float-none{float:none!important}
.absolutely{width: 100%}
.pointer{cursor: pointer;}
